5-n8n/All Workflows/Projects/Google Nano Banana.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image-preview:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "your-own-key"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"A serene mountain sunrise reflected in a tranquil lake, ultra-realistic\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseModalities\": [\n      \"IMAGE\"\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1376,
        896
      ],
      "id": "08f0f9b4-d21d-4e96-b2fa-63d527a413a3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "candidates[0].content.parts[1].inlineData.data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1904,
        896
      ],
      "id": "3d12a93a-2cc4-492a-afd4-5773b0557e55",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image-preview:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyDF_FaXB3KVoih2lJB3LwXuGb1psI5R1a4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"inline_data\": {\n            \"mime_type\": \"image/png\",\n            \"data\": \"{{ $json.data }}\"\n          }\n        },\n        {\n          \"text\": \"Make us all sad and wear shirt\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseModalities\": [\n      \"IMAGE\"\n    ]\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1648,
        0
      ],
      "id": "196411e7-9bce-4cc6-80ec-0e96db9a4f9f",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "Image",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1376,
        192
      ],
      "id": "de1be25c-7101-49bb-9bfa-ee629fa0d158",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "candidates[0].content.parts[0].inlineData.data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1872,
        256
      ],
      "id": "33111518-deaa-481c-ac45-70b93cc7f098",
      "name": "Convert to File1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1136,
        896
      ],
      "id": "a7300ed3-d07d-4ae6-8490-a6d0b79a7ea4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "# Without Image\n",
        "height": 384,
        "width": 1152
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        768
      ],
      "typeVersion": 1,
      "id": "9b4521fe-a9a1-4754-88c6-e82464dd9067",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## With Image Workflow\n\nThis n8n flow starts when a form with an image is submitted:\n1. The image is converted into Base64.\n2. Sent to Google’s **Gemini 2.5 Flash Image** (Nano-Banana) API via HTTP.\n3. The API returns the edited image, which is converted back into a usable file.\n\nWith the API, handling advanced image editing becomes simple—you just send a request and get back a ready result.\n\n---\n\n## Without Image Workflow\n\nThis lightweight version skips file handling. Trigger manually, send a text prompt directly to Nano-Banana API, and instantly receive the generated output.\n\nPerfect for quick prototyping and testing prompts.\n\n---\n\n### 🔗 Connect with Me\n\nWant to learn how to build controller-agent logic in n8n using LLMs and conditions?\n\n📺 **YouTube** → [@tech.mayankagg](https://www.youtube.com/@tech.mayankagg/)  \n💼 **LinkedIn** → [Mayank Agarwal](https://www.linkedin.com/in/mayank953/)  \n📸 **Instagram** → [@tech.mayankagg](https://www.instagram.com/tech.mayankagg/)\n\n---\n\n*Shared by Mayank Agarwal – Teaching AI workflows that actually scale.*\n",
        "height": 944,
        "width": 928,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "e68ecf1c-9257-47b1-aa24-036ef64f0dc2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "formTitle": "Nano Banana Overview",
        "formDescription": "have fun with google flash 2.5",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Image",
              "fieldType": "file",
              "requiredField": true
            },
            {
              "fieldLabel": "text",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        1152,
        32
      ],
      "id": "a107f3de-27c1-4427-8258-d2709da3c9c0",
      "name": "On form submission",
      "webhookId": "2b7dcfd7-5ca7-492b-9932-ed6bf9896691"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        16,
        1632
      ],
      "id": "77aedd59-7a32-42eb-ac45-6f0513e64cbb",
      "name": "Telegram Trigger",
      "webhookId": "33a6835d-d0f9-48af-9ed8-bbdae2394350",
      "credentials": {
        "telegramApi": {
          "id": "Xi1IHA7SxloVwof7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "20bd214f-0ff1-4f4b-a268-8e805a8d111c",
              "name": "TOKEN",
              "value": "=your-key",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        1632
      ],
      "id": "556e44c6-2187-4838-9415-a7113d3f1f28",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        352,
        1824
      ],
      "id": "7f1c4b58-4f01-453e-a744-cd3927785c90",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image-preview:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyDF_FaXB3KVoih2lJB3LwXuGb1psI5R1a4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"inline_data\": {\n            \"mime_type\": \"image/png\",\n            \"data\": \"{{ $json.data }}\"\n          }\n        },\n        {\n          \"text\": \"{{ $('Telegram Trigger').item.json.message.caption }}\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseModalities\": [\n      \"IMAGE\"\n    ]\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        752,
        1760
      ],
      "id": "25a19641-cff5-4639-b066-cc158d1795d9",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "candidates[0].content.parts[0].inlineData.data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1024,
        1728
      ],
      "id": "942d4be5-2026-4df9-9bc9-94edff41425d",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"Create a video with proper \",\n  \"imageUrls\": [\"{{ $('Set img').item.json.lastImgURL }}\"],\n  \"model\": \"veo3_fast\",\n  \"callbackUrl\": \"{{ $execution.resumeUrl }}\",\n  \"aspectRatio\": \"16:9\",\n  \"seeds\": 12345,\n  \"enableFallback\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1696
      ],
      "id": "bbf21cc0-11e5-4c2b-9de5-98d60dafbc23",
      "name": "Create Veo 3 Video Kie.AI",
      "credentials": {
        "httpHeaderAuth": {
          "id": "HvZ4mXImMzPa6DTR",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ff4b997319de8b36f3ec9da7971f29ebdff0b93b4afaf4fcaed05164719d3b2"
  }
}